/* 遮罩层样式 */
#mask-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);

  /* 取消聚焦样式 */
  outline: none;
}

#drawer-container {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
}

#drawer-container h1 {
  border-bottom: 4px solid #171c1d;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 10px;
}

#drawer-container footer {
  width: 100%;
  height: 70px;
}

#footer a {
  color: black;

  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

